body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
}

a {
  text-decoration: none;
  color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-wrapper {
  width: 100%;
  min-width: 1200px;
  transition: background-image 0.5s ease, background-color 0.5s ease;
  background-color: #849d8f;
  background-repeat: no-repeat;
  background-position: top center;
}

.container {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px 0 27px;  
}

.button {
  display: inline-block;
  padding: 12px 44px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  cursor: pointer;
}

.button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.site-navigation,
.user-navigation,
.sub-navigation,
.main-contacts,
.footer-contacts,
.slider-list,
.catalog-list,
.feature-list,
.event-list,
.breadcrumbs,
.pagination-list {
  list-style: none;
}

/*ШАПКА*/

.main-header {
  padding-top: 11px;
  margin-bottom: 40px;
}

.main-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 1146px;
  font-size: 16px;
  line-height: 20px;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-width: 355px;
  min-height: 25px;
  margin: 0;
  margin-left: 10px; 
  padding: 0;
}

.site-navigation a {
  display: block;
  max-height: 33px;
  margin-left: 15px;
  margin-top: 13px;
  padding: 7px 10px 7px 10px;
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
  text-decoration-color: rgba(176, 192, 183, 0.8);
  border-radius: 15px;
}

.sub-navigation {
  display: none;
  position: absolute;
  z-index: 10;
  min-height: 172px;
  margin: 0;
  padding: 0;
  color: #000000;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  background-color: #f8f7f4;
  border-radius: 5px;
}

.catalog-nav:hover .sub-navigation {
  display: block;
}

.sub-navigation a {
  display: block;
  margin: 0;
  padding: 7px 20px 7px 20px;
  color: #000000;
  border-radius: 0;
  text-decoration: none;
}

.user-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  margin-left: auto;
  padding: 0;
}

.user-navigation a {
  display: block;
  max-height: 33px;
  margin-top: 13px;
  margin-left: 10px;
  padding: 6px 22px 5px 17px;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  background: #9db1a5;
  border-radius: 15px;
}

.search-link a {
  width: 33px;
  height: 33px;
  padding: 0;
  background: #9db1a5;
  border-radius: 50%;
}

.search-link svg {
  position: relative;
  top: 6px;
}

.nav-search:hover .modal-search {
  display: block;
}

.modal-search {
  position: absolute;
  top: 58px;
  right: 225px;
  width: 310px;
  height: 85px;
  margin: 0;
  padding: 0;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #f8f7f4;
  border-radius: 5px;
  display: none;
}

.modal-search input {
  width: 310px;
  height: 45px;
  margin: 0;
  margin-top: 5px;
  padding: 0 15px 0 15px;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.nav-link:hover path,
.nav-link:active path,
.nav-link:hover circle,
.nav-link:active circle {
  fill: #000000;
}

.login-link span,
.basket-link span {
  position: relative;
  top: -4px;
  left: 5px;
}

.nav-login:hover .modal-login {
  display: block;
}

.modal-login {
  display: block;
  position: absolute;
  top: 58px;
  right: 130px;
  max-width: 280px;
  height: 195px;
  margin: 0;
  padding: 0;
  padding: 10px 20px 10px 20px;
  background-color: #f8f7f4;
  border-radius: 5px;
}

.modal-login a {
  color: #000000;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  text-decoration: underline;
}

.modal-login input {
  width: 213px;
  height: 44px;
  margin: 0;
  padding: 0 14px 0 14px;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.modal-login .button {
  width: 100px;
  height: 45px;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.login-password {
  display: flex;
  margin-top: 25px;
}

.login-password p {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-left: 20px; 
  padding: 0;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #000000;
  background-color: #f7f6f3;
  text-decoration: none;
}

.sub-navigation a:hover {
  background-color: #fbded7;
}

.sub-navigation a:active {
  background-color: #f6b5a5;
}

.sub-title {
  display: block;
  margin: 0;
  padding-top: 10px;
  padding-right: auto;
  padding-bottom: 10px;
  padding-left: 20px;
  font-weight: 700;
  border-bottom: 1px solid #d1d0ce;
}

.main-contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.work-time {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.phone-number {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
}

/*ГЛАВНАЯ СТРАНИЦА*/

.slide {
  display: none;
}

.slide-button {
  display: inline-block;
  position: relative;
  top: 110px;
  left: 400px;
  width: 260px;
  max-height: 65px;
  padding: 10px;
  margin: 0;
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
}

.slider {
  min-width: 940px;
  min-height: 470px;
}

.slide-title {
  position: relative;
  text-align: center;
  top: 135px;
  left: 200px;
  width: 670px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
}

.slider-controls {
  position: relative;
  width: 90px;
  top: 400px;
  left: 0;
  z-index: 20;
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#product-1:checked ~ .site-wrapper {
  background-image: url(../img/index-1.png);
  background-position: top;
  background-repeat: no-repeat;
  background-color: #849d8f;
}

#product-2:checked ~ .site-wrapper {
  background-image: url(../img/index-2.png);
  background-position: top;
  background-repeat: no-repeat;
  background-color: #8996a6;
}

#product-3:checked ~ .site-wrapper {
  background-image: url(../img/index-3.png);
  background-position: top ;
  background-repeat: no-repeat;
  background-color: #9d8b84;
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

.event-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
}

.event-item {
  max-width: 520px;
  min-height: 189px;
  padding: 20px;
}

.event-item:first-child {
  background-color: #73172b;
  background-image: url(../img/Raspberry-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
}

.event-item:last-child {
  margin-left: 26px;
  background-color: #895c47;
  background-image: url(../img/chocolate-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
}

.event-item h3 {
  margin: 0;
  padding: 0;
  padding-bottom: 23px;
  font-size: 43px;
  line-height: 41px;
  font-weight: 700;
}

.event-item p {
  margin: 0;
  margin-bottom: 45px;
  padding: 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.event-item .button {
  float: right;
  min-width: 80px;
  min-height: 22px;
  padding: 11px 23px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
}

.catalog-item {
  position: relative;
  width: 267px;
}

.main-catalog .catalog-item::before {
  content: "";
  position: absolute;
  width: 63px;
  height: 63px;
  background-image: url(../img/hit.svg);
  background-repeat: no-repeat;
}

.catalog-item img {
  border-radius: 50%;
}

.catalog-item div {
  position: absolute;
  top: 215px;
}

.catalog-item b {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
}

.catalog-item span {
  font-size: 20px;
}

.item-info {
  display: inline-block;
  margin-bottom: 15px;
  text-align: center;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  text-decoration: underline;
  text-decoration-color: #9db1a5;
}

.btn-hover {
  display: none;
  position: absolute;
  z-index: 20;
  left: 35px;
  min-width: 170px;
  padding: 15px;
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.item-hidden:hover {
  width: 270px;
  height: 410px;
  background-color: #9bafa3;
}

.features {
  margin: 0;
  margin-bottom: 40px;
  padding: 30px 20px 25px 20px;
  color: #000000;
  background-color: #eee2c9;
  background-image: url(../img/waffle.png);
  background-repeat: repeat-x;
  border-radius: 15px;
}

.features h3 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  font-size: 16;
  line-height: 22px;
  font-weight: 400;
}

.feature-item {
  padding-top: 10px;
}

.feature-item p {
  position: relative;
  text-align: inherit;
  margin: 0;
  margin-right: 26px;
  padding: 10px 0 0 55px; 
  width: 420px;
}

.feature-item:nth-child(1)::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background-image: url(../img/ice-cream.svg);
  background-repeat: no-repeat;
}

.feature-item:nth-child(2)::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background-image: url(../img/cow.svg);
  background-repeat: no-repeat;
}

.feature-item:nth-child(3)::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background-image: url(../img/eco.svg);
  background-repeat: no-repeat;
}

.feature-item:nth-child(4)::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background-image: url(../img/thermometer.svg);
  background-repeat: no-repeat;
}

.news {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
}

.blog-news {
  display: flex;
  flex-direction: column;
  width: 520px;
  min-height: 170px;
  margin: 0;
  padding: 20px;
  color: #000000;
  background-color: #ffffff;  
  background-image: url(../img/strawberry-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
}

.blog-news p {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  font-size: 16;
  line-height: 22px;
  font-weight: 500;
}

.blog-news a {
  width: 325px;
  padding: 0;
  margin: 0;
  color: #000000;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-decoration: underline;
}

.blog-news a:hover,
.blog-news a:focus {
  color: #e84d37;
}

.subscribe {
  width: 510px;
  min-height: 170px;
  margin: 0;
  padding: 25px;
  margin-left: 25px;
  background-color: #f8f7f4;
  background-image: url(../img/post-background.png);
  background-repeat: no-repeat;
  border-radius: 15px;
}

.subscribe p {
  width: 510px;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  color: #000000;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.subscribe input {
  width: 350px;
  height: 25px;
  padding: 10px;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.subscribe .button {
  width: 125px;
  height: 45px;
  padding: 0;
  margin: 0;
  margin-left: 5px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-shadow: none;
}

.main-map {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  padding: 0 27px 0 27px;
  width: 1200px;
  height: 430px;
  margin-bottom: 35px;
}

.location {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 54px;
  width: 250px;
  min-height: 245px;
  margin: 0;
  margin-top: 63px;
  padding: 30px 25px 30px 25px;
  color: #000000;
  background-color: #ffffff;
  border-radius: 15px;
}

.location p {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.location strong {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.location p:first-child {
  width: 150px;
}

.location p:nth-child(2) {
  margin-bottom: 20px;
}

.location .button {
  width: 235px;
  height: 25px;
  margin: 0;
  margin-top: 20px;
  padding: 10px;
  font-size: 18px;
  line-height: 24px;
}

/*ФУТЕР*/

.main-footer .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-social {
  width: 185px;
  margin: 0;
  padding: 0;
}

.footer-social ul {
  display: flex;
}

.footer-social li {
  margin-right: 12px;
}

.footer-social a {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid rgba(194, 206, 199, 1.0);
  opacity: 0.8;
}

.footer-social a:hover {
  opacity: 1.0;
}

.footer-social a:active {
  opacity: 1.0;
  box-shadow: inset 0px 2px 1px #888888;
}

.tw-social {
  background-image: url(../img/twitter.svg);
  background-repeat: no-repeat;
}

.inst-social {
  background-image: url(../img/instagram.svg);
  background-repeat: no-repeat;
}

.fb-social {
  background-image: url(../img/fb.svg);
  background-repeat: no-repeat;
}

.vk-social {
  background-image: url(../img/vk.svg);
  background-repeat: no-repeat;
}

.footer-contacts {
  position: relative;
  right: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 330;
  height: 50px;
}

.footer-contacts a {
  padding-left: 20px;
}

.footer-contacts li:first-child {
  font-weight: 700;
}

.footer-contacts li:first-child::before {
  position: absolute;
  content: '';
  width: 15px;
  height: 13px;
  background-image: url(../img/heart.svg);
  background-repeat: no-repeat;
}

.footer-copyright {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.main-footer a:hover,
.main-footer a:active {
  color: #e84d37;
}

.social-button {
  background-color: #9db1a5;
  border: 1px solid #c0cdc5;
}

.social-button:hover {
  background-color: #ffffff;
}

.social-button:active {
  background-color: #e9e9e9;
}

.footer-social ul,
.footer-contacts {
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  list-style: none;
  text-decoration: underline;
}

.footer-copyright b {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.footer-copyright a {
  text-decoration: underline;
}

/*КАТАЛОГ*/

.site-navigation .nav-active {
  background-color: #d07058;
  text-decoration: none;
}

.breadcrumbs {
  position: relative;
  right: 10px;
  display: flex;
  width: 222px;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}


.breadcrumbs li:nth-child(2)::before,
.breadcrumbs li:nth-child(3)::before {
  position: absolute;
  display: block;
  content: '»';
}

.breadcrumbs a {
  margin-right: 5px;
  padding-left: 13px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  text-decoration: underline;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: #e84d37;
}

.page-title {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  width: 1146px;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
}

.filter-1 {
  width: 195px;
}

.filter-1 legend {
  margin-left: 15px;
  margin-bottom: 5px;
}

.filter-1 select {
  width: 185px;
  height: 35px;
  padding-left: 10px;
  color: #ffffff;
  background-color: #aabab0;
  border-radius: 30px;
  cursor: pointer;
}

.filter-1 select:hover {
  color: #000000;
}

.filter-item legend {
  margin-left: 15px;
}

.range-controls {
  position: relative;
  width: 180px;
  height: 18.5px;
  padding: 16.5px 20px 0 20px;
  margin-top: 5px;
  background-color: #aabab0;
  border-radius: 30px;
} 

.range-controls .scale {
  width: 180px;
  height: 2px;
  background-color: #d1dad3;
}

.range-controls .bar {
  width: 40%;
  height: 2px;
  margin-left: 30px;
  background-color: #f8f7f4;
}

.range-controls .toggle {
  position: absolute;
  top: 7px;
  width: 4px;
  height: 4px;
  border: 8px solid #ffffff;
  border-radius: 50%; 
  background-color: #ababab;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 30px;
}

.range-controls .toggle-max {
  left: 115px;
}

.filter-3 {
  position: relative;
  top: 15px;
  width: 410px;
  margin: 0;
  margin-left: 15px;
  margin-bottom: 20px;
  background-color: #aabab0;
  border-radius: 30px;
}

.filter-3 legend {
  position: relative;
  bottom: 15px;
  margin-left: 15px;
}

.filter-3 label {
  position: relative;
  bottom: 5px;
  padding-left: 30px;
  margin-left: 10px;
  cursor: pointer;
}

.filter-3 label::before {
  content: "";
  position: absolute;
  left: 0;
  width: 16px;
  height: 16px;
  border: 4px solid #eef1ef;
  border-radius: 50%;
}

.filter-3 label:hover::before {
  border: 4px solid #ffffff;
}

.filter-input:checked + label::after {
  content: "";
  position: absolute;
  top: 6.5px;
  left: 8px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #eef2f0;
}

.filter-input:checked + label:hover::after {
  content: "";
  position: absolute;
  top: 6.5px;
  left: 8px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ffffff;
}

.filter-4 {
  width: 700px;
  margin-top: 15px;
  background-color: #aabab0;
  border-radius: 30px;
}

.filter-4 legend {
  position: relative;
  bottom: 15px;
  margin-left: 15px;
}

.filter-4 label {
  position: relative;
  bottom: 5px;
  padding-left: 30px;
  margin-left: 10px;
  cursor: pointer;
}

.filter-check + label::before {
  content: "";
  position: absolute;
  left: 0;
  width: 25px;
  height: 25px;
  background: url(../img/checkbox-off.svg) no-repeat;
}

.filter-check:checked + label::before {
   background: url(../img/checkbox-on.svg) no-repeat;
}

.navigation-current a {
  pointer-events: none;
  text-decoration: none;
}

.filters legend {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.filters fieldset {
  padding: 0;
  height: 40px;
  border: none;
}

.filters label,
.filters button,
.filters option {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.filter button {
  width: 145px;
  height: 40px;
  margin-top: 15px;
  margin-left: 10px;
  padding: 0;
  color: #ffffff;
  background-color: #a8b9b0;;
  border: 2px solid #ffffff;
  border-radius: 30px;
  cursor: pointer;
}

.filter button:hover {
  color: #000000;
  background-color: #fbfcfb;
}

.filter button:active {
  color: #000000;
  background-color: #eaeaea;
}

.catalog .catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0;
  margin-bottom: 28px;
  padding: 0;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;  
}

.pagination-item a:hover{
  background-color: #9db1a5;
}

.pagination-item a {
  display: block;
  text-align: center;
  width: 25px;
  height: 16px;
  margin-left: 5px;
  padding-top: 4px;
  padding-bottom: 5px;
  border-radius: 50%;
}

.pagination-current a {
  color: #000000;
  background-color: #ffffff;
}

.button-back {
  position: relative;
  right: 5px;
  top: 5px;
  width: 12px;
  height: 13px;
  margin-right: 5px;
  background-image: url(../img/icon-right-small.svg);
  background-repeat: no-repeat;
  transform: rotate(180deg);
}

.button-next {
  position: relative;
  left: 6px;
  top: 6px;
  width: 12px;
  height: 13px;
  background-image: url(../img/icon-right-white.svg);
  background-repeat: no-repeat;
  cursor: pointer;
}

/*ФОРМЫ*/

.modal-feedback {
  display: flex;
  flex-direction: column;
  width: 438px;
  height: 403px;
  margin: 0;
  padding: 20px;
  padding-bottom: 22px;
  background-color: #f8f7f4;
  border-radius: 5px;
}

.feedback-form .button {
  width: 140px;
  height: 45px;
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.feedback-form div {
  display: flex;
  justify-content: flex-end;
}

.feedback-info {
  margin: 0px;
  padding: 0;
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}

.feedback-item {
  display: flex;
  flex-direction: column;
}

.feedback-item input {
  margin: 0;
  margin-bottom: 21px;
  padding: 0;
  padding-left: 15px;
  width: 250px;
  height: 45px;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.feedback-item input:last-child {
  width: 428px;
  height: 155px;
}

.modal-basket {
  display: flex;
  flex-direction: column;
  width: 510px;
  height: 204px;
  margin-top: 40px;
  padding: 20px 15px 20px 15px;
  background-color: #f8f7f4;
  border-radius: 5px;
}

.basket-item {
  display: flex;
  justify-content: space-between;
  color: #000000;
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
}

.basket-item:nth-child(3) {
  border-bottom: 1px solid #cacac7;
  padding-bottom: 10px;
}

.btn-delete {
  position: relative;
  top: 10px;
  left: 5px;
  width: 12px;
  height: 12px;
  background-color: #f8f7f4;
  background-image: url(../img/cross-small.svg);
  background-repeat: no-repeat;
  border: 0;
}

.basket-title {
  display: flex;
  width: 265px;
}

.basket-title img {
  position: relative;
  right: 10px;
  width: 33px;
  height: 33px;
  border-radius: 50%;
}

.basket-count {
  padding-top: 12px;
  
}

.item-price {
  padding-top: 12px;
}

.total-price {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  margin-top: 15px;
  margin-right: 13px;
  color: #000000;
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
}

.total-price .button {
  width: 150px;
  margin-top: 13px;
  padding: 10px;
}